@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#header {
  background: black;
  color: white;
}

.link-socials {

  margin: 0.1em;
}

.link-socials>img {
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

#contacts header div>a {
  color: #999;
}

section.main.style3 {
  padding-top: 40px !important;
  background: #000 !important;
  color: #fff !important;
}

#intro h2 {

  font-family: 'Montserrat';
  font-size: 440%
}

#intro {
  background: linear-gradient(#0002, #000e), url("../../arts/illust/remake bond_001.webp") !important;
  background-size: auto 100%, cover !important;
  background-position-x: 70% !important;
  object-position: center !important;
  overflow: hidden;
}

#intro>img {
  display: none
}

#intro header h2 {}

@media screen and (max-width: 736px) {
  #one {}
}

#one {
  background: linear-gradient(#0002, #000d), url("../../arts/character_design/ren_rei.webp") !important;
  background-size: auto 100%, cover !important;
  background-position-y: 50% !important;
  object-position: center !important;

}

.section-header {
  background: #0006 !important;
  color: white !important;
  backdrop-filter: blur(4px) !important;
}

.section-gallery {
  width: 100%;
}

.fa-youtube>span:nth-child(1) {}

#intro,
#one,
#two {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#work>.content {
  margin: 0 1em !important;
}

#work .content header,
#work .content {
  width: 100% !important;
}

.gallery-grid {
  max-width: 1450px;
  margin: auto
}

@media screen and (max-width: 500px) {

  .gallery-grid {
    width: 100% !important;
    margin: 0 !important;
  }

  .grid {
    display: grid !important;
    --size: 25vw !important;
  }

}

.grid-item {
  width: var(--size);
  float: left !important;
  margin-bottom: 6px;
}