:root{
/*   --dark : #0a0a0a; */
  --dark : #0e0b0c;
  --light: #fafafa;
  
  --tip: #62a403;
}



body {
 color:var(--light);
/*   color:red !important; */
 background: var(--dark);
  font-family: 'Montserrat', serif;
/*   font-family: serif; */
}


header {
/*   background: var(--dark); */
  background: #0e0b0ca0;
  backdrop-filter: blur(20px) brightness(85%);
  display: flex;
  z-index: 5 !important;
}

header > h1 {
  font-family: 'Lisu Bosa';
  letter-spacing: .15em;
  flex-grow: 1;
  padding: 0 .5em;
  margin: .25em 0;
  color: #fff6;
/*   font-size: 2.5em; */
}



header ul {
  display: flex;
}
header ul li {
  margin: 0 1em
}
header ul li::marker{
  content: ""
}
header ul li:hover{
/*   border-bottom: 2px solid; */
}
header a {
  text-decoration: none;
}
header a:visited {
  color: var(--light);
}



.cover {
/*   display: flex; */
/*   align-items: center; */
/*   width: 100%; */
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -15
}

/* .cover > div {
  margin: auto;
  text-align: center;
  
  width: 16em;
  
}
 */

section{
  background: var(--dark);
}
section > h1,
section > h3,
section h2
{
  font-family: 'Lisu Bosa';
  margin: 0;
  padding: .5em 1em;
  border-bottom: 1px solid var(--light);
}

.tag-container {
  line-height: 2em;
/*   white-space: normal !important; */
/*   text-align: left; */
/*   display: flex; */
/*   align-items: center */
/*   line-height: 2em; */
}
.tag-label {
  display:  inline-block;
  background: var(--light);
  color: var(--dark);
  margin: .25em !important;
  padding: 0 .65em;
  border-radius: .5em;
/*   white-space: nowrap; */
  font-weight: bolder;
}.tag-label > :first-child{
  margin-right: .5em;
  color: var(--dark);
/*   white-space: nowrap; */
  
}


#about{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
#about hr {
  max-width: 16em;
/*   height: 20px; */
  color: var(--tip);
}
#about > div {
  margin: auto;
/*   margin-left: 0; */
/*   max-width: 20em; */
  
/*   background: #0007; */
/*   padding: 1em; */
/*   backdrop-filter: blur(2px) */
}
#about p {
  text-align: justify;
  max-width: 20em;
  margin: auto;
  margin-top: 1em;
}
#about h1 {
  letter-spacing: .25em;
  font-size: 2.5em;
  line-height: .5em;
  margin-bottom: .45em;
}#about > div > div:first-of-type {
/*   font-size: 1em; */
/*   width: 100%; */
  
  opacity: .75
}





header
,
#intro
{
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -15
}
#intro > .cover {
  background:
    linear-gradient(
      0deg,
      var(--dark) 0%,
      #0000
/*       ,var(--dark) 110% */
    ),
    url('https://cdn.jsdelivr.net/gh/reiendayo/reiendayo.github.io@img/arts/cover.webp')
    ;
  background-position-x: 50%;
  background-size: cover;
  height: calc(100vh);
/*   position: absolute */
}


#characters{
  max-width: 100vw;
  
}
#characters  h2{
  display: none
    
}
#characters > div {
  padding: .25em 1em;
  margin: auto
}
#characters > div > div > img{
  max-width: 50%;
}

#characters div > div {
/*   display:  none; */
  display: flex;
/*   flex-grow: 0; */
/*   flex-shrink: 0; */
  flex-direction: row;
  max-width: 100%;
}





.links {
  display: flex;
  flex-direction: row;
}
.links ul {
  margin: 0;
  margin-top: 1.5em;
  padding-left: 1.5em;
}
.links ul li::marker {
  content: ""
}
.links h4{
  font-size: 1.5em;
  font-family: 'Lisu Bosa', sans-serif;
  letter-spacing: .1em;
  margin: 0;
  margin-bottom: .25em
}

.links a > :first-child,
.links span > :first-child{
  height: 1.2em;
  vertical-align: -.1em;
  margin-right: .5em;
  filter: brightness(125%)
}
.links a,
.links span{
  color: var(--tip);
  text-decoration: none;
}
.links ul > li{
  line-height: 1.5em;
}



footer{
/*   display: flex; */
  margin-top: 2em;
  background: var(--dark);
  text-align: right;
  padding: 1em;
}




  #menubar, label[for="menubar"]{
    display: none;
  }
/* ================================================================== */
@media only screen and (max-width: 768px) {

  #menubar{
    display: none;
  }
  input#menubar:not(:checked) + ul {
    display: none
  }
  label[for="menubar"]{
    display: block;
    font-size: 2em;
    margin: .25em;
    margin-right: .3em;
  }
  label[for="menubar"]:hover{
    cursor: pointer
  }
  header ul {
    display: block;
    position: absolute;
    background: var(--dark);
    width: 100vw;
    margin-top:3.2em;
    padding-left: 0;
  }
  header ul li {
    margin: 1em ;
  }
  
  #about{
    text-align: left;
  }
  #about hr {
  margin-left: 1.5em;
  }
  #about h1,
  #about > div > div:first-of-type{
    margin-left:20px
  }
  #about > div{
    margin-left: 0;
  }
  #about .tag-container {
    margin-left: 1em;
  }
  #about p {
    margin-left: 1em;
  }
  #intro > .cover {
  background-position-x: 70%;
  }
  
#characters > div > div > img{
  max-width: 100%;
}
  #characters div > div {
  flex-direction: column;
  }
  
  
  
.links {
  flex-direction: column;
}
  
  
  
}
